<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<header th:fragment="index-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong><span id="supportEmail"></span>
                    &nbsp;&nbsp;
                    <strong>Support: </strong><span id="supportPhone"></span>
                </div>

            </div>
        </div>
    </header>
  <div class="navbar navbar-inverse set-radius-zero" th:fragment="index-personal-info">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">

                    <img th:src="@{/img/logo.png}" src="../static/img/logo.png" />
                </a>

            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            </a>
                            <div class="dropdown-menu dropdown-settings">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img id="avatar-my" th:src="@{/img/avatar.jpg}" src="../static/img/avatar.jpg" alt="" class="img-rounded" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading" th:text="${session.userPermission.name}"></h4>
                                        <h5>Developer Or Designer</h5>

                                    </div>
                                </div>
                                <hr />
                                <h5><strong>Personal Bio : </strong></h5>
                                <span th:text="${session.userPermission.personalBio}"></span>
                                <hr />
                                <a href="#" id="full-profile" class="btn btn-info btn-sm">Full Profile</a>&nbsp; <a href="/logout" class="btn btn-danger btn-sm">Logout</a>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-section" th:fragment="index-navicat">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a  class="menu-top-active" href="/index">课程看板</a></li>
                            <li><a href="/sociaty">课程社区</a></li>
                            <li><a href="/message">消息事务</a></li>
                            <li><a href="/email">邮件发送</a></li>
                             <li><a href="/authority">权限管理</a></li>
                            <li><a href="/personalInfo">个人主页</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
  </html>