<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<div class="navbar navbar-fixed-top" th:fragment="info-course-top">
           <div class="navbar-inner">
               <div class="container-fluid">
                   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   </a>
                   <a class="brand" href="#" id="jump-to-home"><i class="fa fa-arrow-left" aria-hidden="true">主页</i></a>
                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                           <li class="dropdown">
                               <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <span id="user-name"></span> <i class="caret"></i>

                               </a>
                               <ul class="dropdown-menu">
                                   <li>
                                       <a tabindex="-1" href="#">Profile</a>
                                   </li>
                                   <li class="divider"></li>
                                   <li>
                                       <a tabindex="-1" href="#" id="logout">退出系统</a>
                                   </li>
                               </ul>
                           </li>
                       </ul>
                       <ul class="nav">
                       	   <li class="dropdown">
                               <a href="#" id="myinfo-nav">个人信息</a>
                           </li>
                           <li class="dropdown">
                               <a href="#" id="dashboard-nav">研究看板</a>
                           </li>
                           <li class="dropdown">
                               <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">国内外影视剧分析<i class="caret"></i>
                               </a>
                               <ul class="dropdown-menu" id="course-change-head">
                                   <li>
                                       <a tabindex="-1" data-value="81689896-32660-4" href="#">国内外影视剧分析</a>
                                   </li>
                                   <li>
                                       <a tabindex="-1" data-value="81689896-57666-2" href="#">影视文化</a>
                                   </li>
                                   <li>
                                       <a tabindex="-1" data-value="81689896-57666-2" href="#">《红楼梦》中的文化生活</a>
                                   </li>
                                   <li>
                                       <a tabindex="-1" data-value="81689896-88047-3" href="#">仙剑影视的立意</a>
                                   </li>
                               </ul>
                           </li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
           </div>
       </div>		
		
	  <div class="span3" id="sidebar" th:fragment="info-course-nav">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                <li>
                    <a href="#" id="myinfo"><i class="icon-chevron-right"></i>个人信息</a>
                </li>
                <li>
                    <a href="#" id="dashboard"><i class="icon-chevron-right"></i> 研究看板</a>
                </li>
                 <li>
                    <a href="#" id="tables"><i class="icon-chevron-right"></i> 课程列表</a>
                </li>
                <li>
                    <a href="#" id="manage"><i class="icon-chevron-right"></i> 课程管理</a>
                </li>
                <li>
                    <a href="#" id="classrooms"><i class="icon-chevron-right"></i> 课程课堂</a>
                </li>
                <li>
                    <a href="#" id="source"><i class="icon-chevron-right"></i> 课程资料</a>
                </li>
                <li th:if="${session.userPermission!=null and session.userPermission.identificationCode lt 2} ">
                    <a href="#" id="statistics"><i class="icon-chevron-right"></i> 学习统计</a>
                </li>
                <li th:if="${session.userPermission!=null and session.userPermission.identificationCode lt 2} ">
                    <a href="#" id="judge"><i class="icon-chevron-right"></i> 课程评价</a>
                </li>
                <li th:if="${session.userPermission!=null and session.userPermission.identificationCode ge 2} ">
                    <a href="#" id="feedback"><i class="icon-chevron-right"></i> 课程反馈</a>
                </li>
            </ul>
        </div>
</html>