<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>SB Admin - Charts</title>

   <!-- Custom fonts for this template-->
  <link th:href="@{/course/vendor/fontawesome-free/css/all.min.css}" href="../static/course/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>

  <!-- Page level plugin CSS-->
  <link th:href="@{/course/vendor/datatables/dataTables.bootstrap4.css}" href="../static/course/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>
  <link th:href="@{/gate/assets/css/font-awesome.css}" href="../static/gate/assets/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template-->
  <link th:href="@{/course/css/sb-admin.css}" href="../static/course/css/sb-admin.css" rel="stylesheet"/>
  <link th:href="@{/css/classroom.css}" href="../static/css/classroom.css" rel="stylesheet"/>
  <link th:href="@{/css/classroom-onLine.css}" href="../static/css/classroom-onLine.css" rel="stylesheet"/>
  <script th:inline="javascript">
	var userPermission = [[${session.userPermission}]];//以thymeleaf的形式从session中取出值
	if(userPermission == null){
		window.location.href=window.location.href.substr(0,window.location.href.indexOf("user")-1);
	}
</script>
</head>

<body id="page-top">

  <!-- 顶部导航栏 -->
  <div th:replace="common/classroom-common :: classroom-top-nav"></div>
  
  <!-- 增删改课堂 -->
  <div th:if="${session.userPermission!=null and session.userPermission.identificationCode ge 2} ">
 	 <div th:replace="common/operationClassroom :: createClassroom"></div>
 	 <div th:replace="common/operationClassroom :: updateClassroom"></div>
 	 <div th:replace="common/operationClassroom :: deleteClassroom"></div>
  </div>
  <div th:replace="common/classroom-common :: other-classroom-select"></div>
  <div id="wrapper">

     <!-- Sidebar -->
    <!-- 左边导航栏 -->
  	<div th:replace="common/classroom-common :: classroom-left-nav"></div>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Online Classroom</li>
        </ol>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-desktop"></i>
            	在线课堂</div>
          <div id="online-classroom-body">
	          <div id="need-to-install" style="display:none;"><h1>本服务需要安装一个插件，如果您已安装，请刷新页面</h1></div>
	          <div id="too-low-need-to-upgrade" style="display:none;"><h1>本服务需要安装一个插件，您安装的插件版本太低</h1></div>
	          <div id="login-gate" style="display:none;"><a data-username="123" style="font-size:30px;margin:5em;cursor:pointer;"><i class="fa fa-hand-o-right"></i>进入课堂</a></div>
	          <div id="login-waiting" style="display:none;"><div style="font-size:20px">登录中...</div><button class="btn btn-default btn-lg" style="font-size:100px" ><i class="fa fa-spinner fa-spin"></i></button></div>
	          <!-- 房间 -->
	          <div id="room_div" style="display:none;">
					<div id="room_div_close" style="cursor:pointer"><div id="leaveroom">×关闭</div></div>
					<div style="padding:10px 20px 10px 20px;display:inline-block;">
						<div id="room_div_left" style="display:inline-block;">
			                <div id="room_div_userlist"></div>
			                <div id="room_div_myobject">
			                    <div id="AnyChatLocalVideoDiv" style="width:200px;height:150px;"></div>
			                    <div style="text-align:left; width:193px; height:5px;">
			                        <div id="LocalAudioVolume" style="background:green;height:5px;"></div>
			                    </div>
			                    <div id="open-or-close-local-microphone" style="font-size:30px;cursor:pointer"><i class="fa fa-microphone"></i></div>
			                </div>
		                </div>
		               &nbsp;&nbsp;
					<div id="room_div_right" style="display:inline-block;float:right;">
		                <div id="room_div_otherobject" style="text-align:center;">
		                   <div id="AnyChatRemoteVideoDiv" style="width:200px;height:150px;"></div>
		                    <div style="text-align:left;width:193px; height:5px;">
		                        <div id="RemoteAudioVolume" style="background:green;height:5px;"></div>
		                   </div>
		                   <div id="open-or-close-remote-microphone" style="font-size:30px;cursor:pointer;float:left;"><i class="fa fa-microphone"></i></div>
		                </div>
		           	</div>
		           	</div>
		           	<div>
		           	</div>
		           	<div id="screen_share_for_teacher">
		           	    <div id="room_div_screen">
		           	       <div id="ScreenShareWindowDiv" style="width:400px;height:300px;margin-left:0;"></div>
		           	    </div>
		           	</div>
			</div>
	        </div>
          </div>
          <div class="card mb-3">
	          <div class="card-header">
	            <i class="fa fa-desktop"></i>
	            	屏幕放大
	          </div>
	          <div><button onclick="toMax()">放大</button></div>
	      </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      
    <div class="modal fade" id="new-teacher-screen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	      	<div class="modal-header">
	          <h4 class="modal-title" id="createModal"><strong>教师桌面</strong></h4>
	          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	      	<div id="ScreenShareWindowDiv-maxmium" style="width:100%;height:90%;margin-left:0;"></div>
	      	<div class="modal-footer">
	          <button class="btn btn-secondary" onclick="toMin()" type="button" data-dismiss="modal">缩小</button>
	        </div>
	      </div>
    	</div>
  	</div>
            	
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © OCR Development Team 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

   <!-- Bootstrap core JavaScript-->
  <script th:src="@{/course/vendor/jquery/jquery.min.js}" src="../static/course/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/course/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/course/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/course/vendor/jquery-easing/jquery.easing.min.js}" src="../static/course/vendor/jquery-easing/jquery.easing.min.js"></script>
  
   <!-- Custom scripts for all pages-->
  <script th:src="@{/course/js/sb-admin.min.js}" src="../static/course/js/sb-admin.min.js"></script>

  <script th:src="@{/js/classroom.js}" src="../static/js/classroom.js"></script>
  <script th:src="@{/js/operationClassroom.js}" src="../static/js/operationClassroom.js"></script>
  <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
  <!-- anychat -->
  <script th:src="@{/anychat/javascript/anychatsdk.js}" src="../static/anychat/javascript/anychatsdk.js"></script>
  <script th:src="@{/anychat/myjs/online-anychatevent.js}" src="../static/anychat/myjs/online-anychatevent.js"></script>
  <script th:src="@{/anychat/myjs/online-classroom.js}" src="../static/anychat/myjs/online-classroom.js"></script>
  <script th:src="@{/js/classroom-onLine-new.js}" src="../static/js/classroom-onLine-new.js"></script>
  <script>
  window.onbeforeunload = function(){
      // 刷新或关闭页面时释放插件
      BRAC_Release();
  }
  function toMax(){
	  BRAC_SetVideoPosEx(mSelfUserId, document.getElementById("ScreenShareWindowDiv-maxmium"), "AnyChatLocalVideoDiv"+1,1,"");
	  $("#new-teacher-screen").modal("show");
  }
  function toMin(){
	  BRAC_SetVideoPosEx(mSelfUserId, document.getElementById("ScreenShareWindowDiv"), "AnyChatLocalVideoDiv"+1,1,"");
  }
  </script>
</body>

</html>
