<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Admin Home Page</title>
        <!-- Bootstrap -->
        <link th:href="@{/info/bootstrap/css/bootstrap.min.css}" href="../static/info/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/bootstrap/css/bootstrap-responsive.min.css}" href="../static/info/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/gate/assets/css/font-awesome.css}" href="../static/gate/assets/css/font-awesome.css" rel="stylesheet" />
        <link th:href="@{/info/vendors/easypiechart/jquery.easy-pie-chart.css}" href="../static/info/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/assets/styles.css}" href="../static/info/assets/styles.css" rel="stylesheet" media="screen"/>
        <script th:inline="javascript">
			var userPermission = [[${session.userPermission}]];//以thymeleaf的形式从session中取出值
			if(userPermission == null){
				var href_path = window.location.href;
				window.location.href = href_path.split("/")[0]+"//"+href_path.split("/")[2];
			}
			var courseCodeFromSession = [[${session.courseCode}]];//从session中获取课堂代码
		</script>
    </head>
    
    <body>
        <div th:replace="common/info-course-common :: info-course-top"></div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div th:replace="common/info-course-common :: info-course-nav"></div>
                
                <!--/span-->
                <div class="span9" id="content">
	                <div class="row-fluid">
			            <div class="block">
			                <div class="navbar navbar-inner block-header">
			                    <div class="muted pull-left">每天学习时间统计</div>
			                </div>
			                <div class="block-content collapse in">
			                    <div class="span12">
			                        <div id="course-everyday-feedback"></div>
							    </div>
							 </div>
						</div>
					</div>
	                <div class="row-fluid">
			            <div class="block">
			                <div class="navbar navbar-inner block-header">
			                    <div class="muted pull-left">参与课程的进度统计</div>
			                </div>
			                <div class="block-content collapse in">
			                    <div>读《白夜行》</div>
			                    <div class="progress progress-striped active progress-success">
			                    	<span>40%</span>
			                    	<div class="bar" style="width:40%"></div>
			                    </div>
							 </div>
			                <div class="block-content collapse in">
			                    <div>国内外影视现状分析</div>
			                    <div class="progress progress-striped active progress-success">
			                    	<span>30%</span>
			                    	<div class="bar" style="width:30%"></div>
			                    </div>
							 </div>
			                <div class="block-content collapse in">
			                    <div>运筹学</div>
			                    <div class="progress progress-striped active progress-success">
			                    	<span>50%</span>
			                    	<div class="bar" style="width:50%"></div>
			                    </div>
							 </div>
			                <div class="block-content collapse in">
			                    <div>概率论与数理统计</div>
			                    <div class="progress progress-striped active progress-success">
			                    	<span>80%</span>
			                    	<div class="bar" style="width:80%"></div>
			                    </div>
							 </div>
						</div>
					</div>
                </div>
            </div>
            <hr/>
            <footer>
                <p>&copy; OCR Development Team 2019</p>
            </footer>
        </div>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <script th:src="@{/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js}" src="../static/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!--/.fluid-container-->
        <script th:src="@{/js/jquery/jquery2.1.4.min.js}" src="../static/js/jquery/jquery2.1.4.min.js"></script>
        <script th:src="@{/js/highcharts/highcharts.js}" src="../static/js/highcharts/highcharts.js"></script>
        <script th:src="@{/info/bootstrap/js/bootstrap.min.js}" src="../static/info/bootstrap/js/bootstrap.min.js"></script>
        <script th:src="@{/info/vendors/easypiechart/jquery.easy-pie-chart.js}" src="../static/info/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
        <script th:src="@{/info/assets/scripts.js}" src="../static/info/assets/scripts.js"></script>
        <script th:src="@{/js/course-manage-page-common.js}" src="../static/js/course-manage-page-common.js"></script>
        <script th:src="@{/js/course-dashboard.js}" src="../static/js/course-dashboard.js"></script>
    </body>

</html>