<!DOCTYPE html>
<html>
    
    <head>
        <title>Tables</title>
        <!-- Bootstrap -->
        <link th:href="@{/info/bootstrap/css/bootstrap.min.css}" href="../static/info/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/bootstrap/css/bootstrap-responsive.min.css}" href="../static/info/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/assets/styles.css}" href="../static/info/assets/styles.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/gate/assets/css/font-awesome.css}" href="../static/gate/assets/css/font-awesome.css" rel="stylesheet" />
        <link th:href="@{/info/assets/DT_bootstrap.css}" href="../static/info/assets/DT_bootstrap.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/css/course-classrooms.css}" href="../static/css/course-classrooms.css" rel="stylesheet" media="screen"/>
        <!--  -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script th:src="@{/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js}" src="../static/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script th:inline="javascript">
			var userPermission = [[${session.userPermission}]];//以thymeleaf的形式从session中取出值
			if(userPermission == null){
				var href_path = window.location.href;
				window.location.href = href_path.split("/")[0]+"//"+href_path.split("/")[2];
			}
			var courseCodeFromSession = [[${session.courseCode}]];//从session中获取课堂代码
		</script>
    </head>
    
    <body>
        <div th:replace="common/info-course-common :: info-course-top"></div>
        <div class="container-fluid">
        
            <div class="row-fluid">
                <div th:replace="common/info-course-common :: info-course-nav"></div>
                <!--/span-->
                <div class="span9" id="content">
	        		<div class="row-fluid">
			            <div class="block">
			                <div class="navbar navbar-inner block-header">
			                    <div class="muted pull-left">课程信息</div>
			                </div>
			                <div class="block-content collapse in">
			                	课程进度<div class="progress progress-striped active progress-success">
									<span>40%</span>
									<div class="bar" style="width:40%"></div>
								</div>
			                	<div id="course-manage-course-info" class="table-responsive">
			                		<table class="table text-nowrap">
			                			<thead>
			                				<tr>
			                					<th></th>
			                					<th></th>
			                					<th></th>
			                					<!-- <th></th>
			                					<th></th>
			                					<th></th> -->
			                				</tr>
			                			</thead>
			                			<tbody>
				                			<tr>
				                				<td style="width:50px;">课程名称</td><td><input type="text" value="读《白夜行》"/></td><td style="width:50px;">任课教师</td><td><input type="text"  value="高晓松"/></td>
				                			</tr>
				                			<!-- <tr>
				                				<td>课程学分</td><td><input type="number" value="3.5"/></td><td>课程类型</td><td><input type="text" value="文化，影视，鉴赏"/></td>
				                			</tr>
				                			<tr>
				                				<td>课程学时</td><td><input type="number" value="35"/></td><td>已完成学时</td><td><input type="number" value="17"/></td>
				                			</tr>
				                			<tr>
				                			<td>开课时间</td><td><input type="datetime" value="2019-05-15 08:00"/></td><td>当前状态</td>
																				                			<td><select>
																				                			<option value="0">选课未开始</option>
																				                			<option value="1">选课中</option>
																				                			<option value="2" selected="selected">课程进行中</option>
																				                			<option value="3">课程已结束</option>
																				                			</select></td>
				                			</tr> -->
				                			<!-- <tr>
				                				<td>课程坐席</td><td><input type="number" value="60"/></td><td>已选人数</td><td><input type="number" value="32"/></td>
				                			</tr>
				                			<tr>
				                				<td>当前坐席</td>
				                				<td><select>
				                				<option value="0" selected="selected">未满</option>
				                				<option value="1">已满</option>
				                				</select></td>
				                			</tr> -->
				                			<tr>
				                				<td style="width:50px;">课程介绍</td>
				                			</tr>
				                			<tr>
				                				<td></td>
				                				<td colspan="4" >
				                				<textarea cols="30" style="width:500px !important;margin-left:2px;" rows="5">本课带着大家一起赏析《白夜行》，分析其中的人物关系和社会背景</textarea>
				                				</td>
				                			</tr>
			                			</tbody>
			                		</table>
			                	</div>
							</div>
						</div>
					</div>
	        		<div class="row-fluid">
			            <!-- block -->
			            <div class="block">
			                <div class="navbar navbar-inner block-header">
			                    <div class="muted pull-left">课堂列表</div>
			                </div>
			                <div class="block-content collapse in">
			                	<table id="classroom-list">
			                		<thead>
			                			<tr>
			                				<th>序号</th>
			                				<th>课程名称</th>
			                				<th>开始时间</th>
			                				<th>结束时间</th>
			                				<th>课堂时长</th>
			                				<th>任课教师</th>
			                			</tr>
			                		</thead>
			                		<tbody>
			                			<tr>
			                				<td>1</td>
			                				<td>影视介绍</td>
			                				<td>2019-05-16 16:00</td>
			                				<td>2019-05-16 17:40</td>
			                				<td>90</td>
			                				<td>高晓松</td>
			                			</tr>
			                			<tr>
			                				<td>2</td>
			                				<td>影视赏析</td>
			                				<td>2019-05-23 16:00</td>
			                				<td>2019-05-23 17:40</td>
			                				<td>90</td>
			                				<td>高晓松</td>
			                			</tr>
			                			<tr>
			                				<td>3</td>
			                				<td>影视分析</td>
			                				<td>2019-05-30 16:00</td>
			                				<td>2019-05-30 17:40</td>
			                				<td>90</td>
			                				<td>高晓松</td>
			                			</tr>
			                			<tr>
			                				<td>4</td>
			                				<td>影视分享</td>
			                				<td>2019-06-06 16:00</td>
			                				<td>2019-06-06 17:40</td>
			                				<td>90</td>
			                				<td>高晓松</td>
			                			</tr>
			                			<tr>
			                				<td>5</td>
			                				<td>影视点评</td>
			                				<td>2019-06-13 16:00</td>
			                				<td>2019-06-13 17:40</td>
			                				<td>90</td>
			                				<td>高晓松</td>
			                			</tr>
			                		</tbody>
			                	</table>
							</div>
						</div>
					</div>
                </div>
            </div>
            <hr/>
            <footer>
                <p>&copy; OCR Development Team 2019</p>
            </footer>
        </div>
        <!--/.fluid-container-->

        <script th:src="@{/info/vendors/jquery-1.9.1.js}" src="../static/info/vendors/jquery-1.9.1.js"></script>
        <script th:src="@{/info/bootstrap/js/bootstrap.min.js}" src="../static/info/bootstrap/js/bootstrap.min.js"></script>
        <!--  -->
        <!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> -->
		<!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		<!--  -->
        <script th:src="@{/info/vendors/datatables/js/jquery.dataTables.min.js}" src="../static/info/vendors/datatables/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/info/assets/DT_bootstrap.js}" src="../static/info/assets/DT_bootstrap.js"></script>
        <script th:src="@{/js/course-manage-page-common.js}" src="../static/js/course-manage-page-common.js"></script>
        <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
        <script th:src="@{/js/course-classrooms.js}" src="../static/js/course-classrooms.js"></script>
    </body>

</html>