<!DOCTYPE html>
<html>
    
    <head>
        <title>Tables</title>
        <!-- Bootstrap -->
        <link th:href="@{/info/bootstrap/css/bootstrap.min.css}" href="../static/info/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/bootstrap/css/bootstrap-responsive.min.css}" href="../static/info/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/info/assets/styles.css}" href="../static/info/assets/styles.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/gate/assets/css/font-awesome.css}" href="../static/gate/assets/css/font-awesome.css" rel="stylesheet" />
        <link th:href="@{/info/assets/DT_bootstrap.css}" href="../static/info/assets/DT_bootstrap.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/css/course-feedback.css}" href="../static/css/course-feedback.css" rel="stylesheet" media="screen"/>
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script th:src="@{/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js}" src="../static/info/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script th:inline="javascript">
			var userPermission = [[${session.userPermission}]];//以thymeleaf的形式从session中取出值
			if(userPermission == null){
				var href_path = window.location.href;
				window.location.href = href_path.split("/")[0]+"//"+href_path.split("/")[2];
			}
			var courseCodeFromSession = [[${session.courseCode}]];//从session中获取课堂代码
		</script>
    </head>
    
    <body>
        <div th:replace="common/info-course-common :: info-course-top"></div>
        <div class="container-fluid">
        
            <div class="row-fluid">
                <div th:replace="common/info-course-common :: info-course-nav"></div>
                
                <div class="span9" id="content">

        		<div class="row-fluid">
		            <div class="block">
		                <div class="navbar navbar-inner block-header">
		                    <div class="muted pull-left">课程评价统计</div>
		                </div>
		                <div class="block-content collapse in">
		                    <div class="span12">
		                        <div id="course-scores-feedback"></div>
						    </div>
						 </div>
					</div>
				</div>
        		<div class="row-fluid">
		            <div class="block">
		                <div class="navbar navbar-inner block-header">
		                    <div class="muted pull-left">课程留言建议</div>
		                </div>
		                <div class="block-content collapse in">
		                    <div class="span12">
		                        <div id="course-suggestion-feedback">
		                        	<table id="course-suggestion">
		                        		<thead>
		                        			<tr>
			                        			<th>序号</th>
			                        			<th>内容</th>
		                        			</tr>
		                        		</thead>
		                        		<tbody>
		                        			<tr>
		                        				<td>1</td>
		                        				<td>希望老师以后少给我们布置作业，这样老师才能够多休息一下</td>
		                        			</tr>
		                        			<tr>
		                        				<td>2</td>
		                        				<td>老师，课后作业好难啊</td>
		                        			</tr>
		                        			<tr>
		                        				<td>3</td>
		                        				<td>老师，您辛苦了</td>
		                        			</tr>
		                        			<tr>
		                        				<td>4</td>
		                        				<td>老师，作业完不成啊</td>
		                        			</tr>
		                        			<tr>
		                        				<td>5</td>
		                        				<td>希望老师以后多布置一点作业，我们不要紧，主要是学弟学妹们的学习不能耽误</td>
		                        			</tr>
		                        			<tr>
		                        				<td>6</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        			<tr>
		                        				<td>7</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        			<tr>
		                        				<td>8</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        			<tr>
		                        				<td>9</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        			<tr>
		                        				<td>10</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        			<tr>
		                        				<td>11</td>
		                        				<td>这门课给我收获很大</td>
		                        			</tr>
		                        		</tbody>
		                        	</table>
		                        </div>
						    </div>
						 </div>
					</div>
				</div>
                </div>
            </div>
            <hr/>
            <footer>
                <p>&copy; OCR Development Team 2019</p>
            </footer>
        </div>
        <!--/.fluid-container-->

        <script th:src="@{/js/jquery/jquery2.1.4.min.js}" src="../static/js/jquery/jquery2.1.4.min.js"></script>
        <script th:src="@{/js/highcharts/highcharts.js}" src="../static/js/highcharts/highcharts.js"></script>
      	<script th:src="@{/info/bootstrap/js/bootstrap.min.js}" src="../static/info/bootstrap/js/bootstrap.min.js"></script>
        <script th:src="@{/info/vendors/datatables/js/jquery.dataTables.min.js}" src="../static/info/vendors/datatables/js/jquery.dataTables.min.js"></script>
        <!-- <script th:src="@{/info/assets/scripts.js}" src="../static/info/assets/scripts.js"></script> -->
        <script th:src="@{/info/assets/DT_bootstrap.js}" src="../static/info/assets/DT_bootstrap.js"></script>
        <script th:src="@{/js/course-manage-page-common.js}" src="../static/js/course-manage-page-common.js"></script>
        <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
        <script th:src="@{/js/course-feedback.js}" src="../static/js/course-feedback.js"></script>
    </body>

</html>