/*课程信息*/
/* #course-manage-course-info table>thead>tr>td(:odd),table>tbody>tr>td(:odd){
	width:13em;
} */
/*教师介绍*/

.teacher-info-name{
	font-size:22px;
	color:#ccc;
	margin:10px 10px 20px 0;
}
.teacher-persnlife-title,.teacher-research-title,.teacher-achievement-title{
	font-size:18px;
	color:#08c;
	margin:10px 10px 20px 0;
}
.teacher-persnlife-content,.teacher-research-content,.teacher-achievement-content{
	font-size:16px;
	margin:10px 10px 20px 0;
	text-indent:2em;
}
