/*总体布局设置*/
#socialty-call-board-left{
	width:25%;
	border-right:3px solid #ccc;
	height:700px;
	overflow:auto;
}
#socialty-discuss{
	border-right:3px solid #ccc;
	width:50%;
	height:700px;
	overflow:auto;
}
#socialty-leave-message{
	width:25%;
	height:700px;
	overflow:auto;
}
.area-title{
	font-size:18px;
	font-family:"华文行楷";
}
.socialty-tilte a{
	cursor:pointer;
}
#socialty-call-board-left,#socialty-discuss,#socialty-leave-message{
	display:inline;
	float:left;
}
/* #socialty-call-board-left .area-title:after{
	 content: '';
     position: absolute;
     width: 285px;
     height: 2px;
     background: #ccc;
     top: 7%;
     transform: translateX(-55px);
} */
/*头部*/
.socialty-change{
	display:inline;
	font-size:18px;
	font-family:"微软雅黑";
	margin-top:-30px;
	margin-bottom:10px;
	margin-left:-15px;
}
/* .socialty-change:after{
	 content: '';
     position: absolute;
     width: 285px;
     height: 2px;
     background: #ccc;
     top: 10px;
     transform: translateX(-200px);
     transform: translateY(1.5em);
} */
/*公告区*/
#socialty-call-board-left .socialty-tilte{
	font-size:16px;
	font-family:"黑体";
}
#socialty-call-board-left .socialty-simple-body{
	font-size:12px;
	font-family:"宋体";
	text-indent:2em;
}
.socialty-release-time{
	font-size:14px;
	font-family:"Times New Roman";
	/* float:right; */
}
.socialty-bulletin{
	margin-top:10px;
	border:1px dashed;
	padding:5px;
}
/*讨论区*/
.discuss-row{
	margin-top:10px;
	margin-bottom:5px;
}
/* .socialty-middle{
	title:"风格2";
	background:url(/img/ti.jpg) no-repeat;
} */
.discuss-row-user .discuss-row-user-pic{
	width:30px;
	height:30px;
	border-radius:15px;
	display:inline;
	margin-left:1em;
}
.discuss-row-user .discuss-row-user-name{
	font-size:16px;
	font-family:"华文行楷";
	display:inline;
	cursor:pointer;
}
.discuss-row-body{
	font-size:14px;
	font-family:"宋体";
	text-indent:2em;
}
.discuss-row-release-time{
	font-size:14px;
	font-family:"Times New Roman";
	float:right;
	margin-right:5px;
}
/*留言区*/
.socialty-right{
	background:url(/img/discuss-background.jpg) no-repeat;
}
.leave-message-row{
	margin-top:10px;
	margin-bottom:5px;
}
/* .socialty-middle{
	title:"风格2";
	background:url(/img/ti.jpg) no-repeat;
} */
.leave-message-row-user .leave-message-row-user-pic{
	width:30px;
	height:30px;
	border-radius:15px;
	display:inline;
	margin-left:1em;
}
.leave-message-row-user .leave-message-row-user-name{
	font-size:16px;
	font-family:"华文行楷";
	display:inline;
	cursor:pointer;
}
.leave-message-row-body{
	font-size:14px;
	font-family:"宋体";
	text-indent:2em;
}
.leave-message-row-release-time{
	font-size:14px;
	font-family:"Times New Roman";
	float:right;
	margin-right:5px;
}
.leave-message-row-release-time span{
	/* background:#ccc; */
	margin-left:1em;
}
.leave-message-row-release-time span a{
	cursor:pointer;
	text-decoration:none;
}
/*教师回复*/
.leave-message-reply-title{
	font-size:16px;
	font-family:"黑体";
	color:green;
	margin-left:1em;
}
.leave-message-reply-body{
	margin-left:1em;
	margin-right:3px;
	font-size:14px;
	font-family:"宋体";
	background:green;
	color:#fff;
	/* text-indent:2em; */
	border:1px dashed green;
	padding:2px;
}
.leave-message-reply-row{
	margin-top:-20px;
}
/*发言栏*/
#my-word-div{
	margin-top:20px;
	margin-left:20em;
}
.my-word-title{
	font-size:18px;
	font-family:"黑体";
	color:#159295;
}
.my-word-body{
	display:inline;
	float:left;
	margin-right:10px;
}
.my-word-submit{
	display:inline;
}
.my-word-to-discuss{
	margin:10px;
}
.my-word-body textarea{
	border-radius:10px;
	padding:5px;
}
#my-word-div .my-word-body textarea:focus{
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
	box-shadow:10px 10px 10px #ccc inset;
	padding:5px;
}
.my-word-submit button{
	box-shadow:5px 5px 10px #000;
}
.my-word-submit button:active{
	box-shadow:-5px -5px 10px #fff;
}
.my-word-to-discuss button{
	margin-top:-10px;
	font-size:18px;
	font-family:"微软雅黑";
	background:#000;
	color:#fff;
}
.my-word-to-leave-message button{
	font-size:18px;
	font-family:"微软雅黑";
	background:blue;
	color:#fff;
}